*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
.menu{
text-align: center;
background-color: #1992FA;
height: 80px;
line-height: 80px;
}

.menu ul li{
	list-style: none;
	display: inline-block;

}

.menu ul li a{
	color: white;
	font-size: 18px
	font-weight:600;
	margin: 10px;
	transition: 1s;
}

.menu ul li a:hover{
	color: black;
	font-size: 22px;
	transition: 1s;


}
.imh{
	background-image: url(.../img/img.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh
}
.imh h1{
	text-align: center;
	font-size: 45px
}
.media{
	text-align: center;
	margin-top: 70px
}
.media ul li{
	
    list-style: none;
	display: inline-block;
}




.media ul li a{
		font-size: 22px;
	height: 60px;
	width: 60px;
	background: blue;
	border-radius: 100%;
	text-align: center;
	line-height: 60px; 
	margin: 0 20px;
}